@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body {
	background-color: #FFFFFF;
	background-image: url('../images/bg.png');
	background-position: center top;
	background-repeat: repeat-x;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
}

h1,
.componentheading,
.contentheading,
.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #3b8ddd;
	text-align: left;
}

.title a {
	font-size: 24px;
	color: #555555;
}

.created {
	font-weight: bold;
}

.navbar-default {
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	color: #777777;
	line-height: 30px;
	font-size: 18px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #555555;
}

.navbar-default .navbar-nav > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #3b8ddd;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
}

.navbar-default .navbar-nav > li > a:hover:before,
.navbar-default .navbar-nav > li > a:focus:before,
.navbar-default .navbar-nav > .active > a:before {
	visibility: visible;
	transform: scaleX(1);
}

#content {
	text-align: justify;
	text-justify: inter-word;
	min-height: 250px;
	line-height: 1.5;
}

#content img {
	display: block;
	height: auto;
	max-width: 100%;
}

#content .well img {
	padding: 10px;
}

#right {
	color: #777777;
	margin-top: 20px;
}

#footer {
	padding: 10px 0;
	color: #777777;
	font-size: 14px;
	text-align: right;
}

#footer a {
	color: #333333;
	text-decoration: underline;
}

@media(max-width:767px) {
	header .container,
	header .col-xs-10,
	header .col-xs-2 {
		padding-left: 0;
		padding-right: 0;
	}

}

@media(max-width:991px) {
	.navbar-default {
		margin-top: 70px;
	}

	.navbar-collapse {
		position: absolute;
		min-width: 290px;
		right: 0;
		z-index: 9999999;
		background-color: #f2f2f2;
	}

}

@media (min-width:768px) and (max-width:991px) {
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-header .collapse,
	.navbar-toggle {
		display: block !important;
	}

	.navbar-header {
		float: none;
	}

}

@media(min-width:992px) {
	.navbar-default {
		margin-top: 50px;
	}

	#contentcontainer .container,
	footer .container {
		max-width: 970px;
	}

}
